<!DOCTYPE html>
<html>
<head>
    <title>SquabbleBots Arena</title>
</head>
<body>
    <canvas id="Arena" style="background-color: #000; margin: 0 auto;" width="800" height="600"></canvas>
    <script src="@Url.Content("~/lib/jquery/js/jquery.js")"></script> 
    <script src="@Url.Content("~/lib/signalr/jquery.SignalR.js")"></script>
    <script src="@Url.Content("~/signalr")"></script>
    <script src="@Url.Content("~/lib/EaselJS/easeljs-0.7.1.combined.js")"></script>
    <script src="@Url.Content("~/app.js")"></script>
</body>
</html>

